#IntelliJ files
.idea/
out/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# Maven
*.log
log/
target/

#WebDriver Windows
chromedriver.exe
geckodriver.exe

#WebDriver Linux
chromedriver
geckodriver

# Mongo
src/test/resources/config.properties